@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{

  --cor01:#9AD0FF;
  --cor02:#3DA5FF;
  --cor03:#D25555;
  --cor04:#55585B;
  --cor05:#F9F9F9;
  --cor06:#CFDBE5;
  --fontColor:#151718; 

  font-size: 62.5%;
}


*{
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;

  color: var(--fontColor);
  font-family: 'Inter','Arial',sans-serif;
  font-weight: 400;
  text-decoration: none;

  box-sizing: border-box;
  list-style: none;
}

body{
  background-color: var(--cor05);
}

img{
  display: block;
  max-width: 100%;
}

button{
  cursor: pointer;
}

/* Header configuração geral */

header{
  display: flex;
  padding: 3rem 6rem;
  align-items: center;
  position: relative;
}

header > h1{
  font-size: 2.4rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.ul-nav{
  background-color: var(--cor04);
  border-radius: 0 12px 12px 0;
  padding: 1.5rem 6rem;
  position: absolute;
  top: 30px;
  left: 0;
  transform: translate3d(-100%,0,0);
  transition: transform .4s;
}

.ul-nav.active{
  transform: translate3d(0%,0,0);
}

.ul-nav li{
  font-size: 1.8rem;
  padding: 1rem .5rem;
  text-transform: uppercase;
}

.ul-nav a{
  color: var(--cor05);
  border-bottom: 2px solid var(--cor02);
  transition: .2s;
}

.ul-nav a:hover{
  border-color: var(--cor03);
}

.header-menu{
  display: flex;
  gap: .5rem;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
}

.close-menu{
  width: 40px;
  padding: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

@media (max-width: 420px) {
  header {
    flex-wrap: wrap;
    padding: 3rem 1.5rem;
  }

  header > h1 {
    margin-bottom: 1.5rem;
    order: 1;
  }

  .header-menu {
    order: 2;
  }
}