#geral{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem 6rem;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

#geral h2{
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 1.5rem;
}


.info{
  font-size: 1.8rem;
  border-radius: 6px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.404);
  margin: 1.2rem;
  padding: 1rem 1.5rem;
  text-transform: capitalize;
  width: fit-content;
}

.info #rmen {
  font-size: 2.2rem;
}

.notes{
  background-color: var(--cor04);
  padding: 6rem;
  border-radius: 6px;
  margin: 0 auto;
  max-width: 600px;
  grid-column: 1/3;
}

.notes p{
  color: var(--cor05);
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
}

.center{
  font-size: 2rem;
  margin: 1.2rem auto;
}

#clean-data{
  font-size: 1.8rem;
  position: absolute;
  left: 30px;
  bottom: 30px;
  cursor: pointer;
  padding: .5rem;
  border: 2px solid var(--cor04);
  border-radius: 4px;
}

#clean-data:hover {
  color: var(--cor03);
  border-color: var(--cor03);
}

@media (max-width: 620px){
  #geral{
    grid-template-columns: 1fr;
    padding: 3rem 1.5rem;
    gap: 1.5rem;
  }
  #geral > div {
    margin: 0 auto;
    grid-column: 1/3;
  }

  .notes {
    padding: 3rem;
  }
}